#checkout {
	grid-template-columns: 1fr;
}

#checkout > .border {
	padding: 3rem;
}

.add-on-item {
	font-size: 1rem;
	padding-left: 0.5rem;
}

#checkout > div:first-child {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	row-gap: 30px;
	font-size: 1.3rem;
}

#cvv {
	width: 3rem;
	display: block;
	text-align:center;
}