/* CSS RESET */
* {
	padding:0;
	margin:0;
}

/* SHARED FORMATTING */
a {
	text-decoration: none;
	color:inherit;
}

#nav-bar {
	display:flex;
	justify-content:space-between;
	align-items: center;
	padding: 1rem 2rem;
}

#nav-bar > div, .side-by-side-items {
	display: flex;
	align-items: center;
	column-gap: 20px;
}

#nav-bar h1 {
	font-family: 'Roboto Mono', monospace;
	font-size: 2.1rem;
	color: #07020D;
	cursor:pointer;
}

h2, h3, p, label, td, a, input, button, textarea {
	font-family: 'Titillium Web', sans-serif;
}

h2, h3 {
	color: #5DB7DE;
}

h2 {
	font-size: 2rem;
}

ul {
	list-style: none;
}

li {
	margin: 0.75rem 0;
	margin-left: 10px;
}

input[type="text"],input[type="number"], input[type="password"], textarea {
	padding: 0.5rem 1rem;
	margin-top: 0.4rem;
	margin-bottom: 0.8rem;
	width: 90%;
}

input:focus, textarea:focus {
	outline: none !important;
    border-color: #5DB7DE;
    box-shadow: 0 0 10px #F1E9DB;   
}

.titillium {
	font-family: 'Titillium Web', sans-serif;
	font-size: 2.5rem;
	font-weight: 600;
	color: #5DB7DE;
}

.sacramento {
	font-family: 'Sacramento', cursive;
	font-size: 4rem;
	color: #E0777D;
}

.icon {
	width:50px;
}

.container {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 20px;
}

.button {
	padding: 0.5rem 1rem;
	margin-top: 20px;
	border:none;
	border-radius: 5px;
	color: white;
	background-color: #E0777D;
}

.text-like-button {
	padding:0;
	border:none;
	background-color:transparent;
}

.button:hover, button:hover {
	cursor: pointer
}

.grid {
	display:grid;
	column-gap:20px;
	row-gap: 30px;
	width: 100%;
}

.title-center {
	text-align: center;
	margin-bottom: 1rem;
}

.border {
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,.125);
}


.center {
	display: flex;
	justify-content: center;
}

.mint-text {
	color: #67AB9F;
}

.light-text {
	color: #A39B8B;
}

.pink-text {
	color: #E0777D;
}

.red-text {
	color: #C6152D;
}

.alert {
	padding: 0.5rem 1rem;
	margin-top: 0.3rem;
	margin-bottom: 0.7rem;
	background-color: #f0b6b9;
	color: #753b42;
}

.message {
	padding: 0.5rem 1rem;
	margin-top: 0.3rem;
	margin-bottom: 0.7rem;
	background-color: #badbd5;
	color: #2a7669;
}

/* ADAPTIVE SCREEN ACCOMEDATIONS */
@media only screen and (max-width: 1300px) {
	.order-items > *:nth-child(even) {
		border-bottom: 1px solid rgba(0,0,0,.125);
		padding-bottom: 20px;
	}
}

@media only screen and (min-width: 600px) {
	.container {
		padding-left: 12%;
		padding-right: 12%;
	}

	.all-icecreams-grid {
		grid-template-columns: repeat(2,1fr);
	}
}

@media only screen and (min-width: 900px) {
	.container {
		padding-left: 18%;
		padding-right: 18%;
	}
	
	.all-icecreams-grid {
		grid-template-columns: repeat(3,1fr);
	}
	
	#checkout {
	/*grid-template-columns: 4fr 5fr;*/
	grid-template-columns: 1fr 1fr;
	}
	
	#newFlavorForm, #newToppingForm {
	padding-left: 20%;
	padding-right: 20%;
	}
	
	
}

@media only screen and (min-width: 1300px) {
	.all-icecreams-grid {
		grid-template-columns: repeat(4,1fr);
	}
	.one-icecream {
		grid-template-columns: repeat(2,1fr);
	}
	
	.order-items > table {
		padding-right: 10%;
	}
	
	.order-items > * {
		border-bottom: 1px solid #dfdfdf;
		padding-bottom: 20px;
	}
	
	.order-items {
		grid-template-columns: 2fr 1fr;
	}
	
	#prices {
		grid-column: 2;
	}
	
	#price-total {
		grid-column: 2;
	}
	
	#login-grid {
		grid-template-columns: 1fr 1fr;
		column-gap:5rem;
	}
}


